

{% include "header.html" %}
        <!-- Masthead-->
        <div class="container py-3" style="margin-top: 150px; text-align: center;">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-black font-weight-bold">Om Hjemmesidesmeden</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-black-75 mb-5">
                            I de dunkle skygger af en dystopisk verden, hvor teknologien havde udviklet sig til at dominere menneskenes liv, opstod en beskeden begyndelse ved navn "Hjemmesidesmeden." Det var i begyndelsen af 1910'erne, hvor verden var fanget i et teknologisk jerngreb, og menneskers sjæle var blevet fangede i de virtuelle netværk, der spændte som et uigennemtrængeligt edderkoppespind.<br><br>
                            Hjemmesidesmeden blev grundlagt af en modig gruppe pionerer, der nægtede at lade teknologiens dystre skygge kvæle den menneskelige kreativitet og unikke udtryk. De begyndte som håndværkere af den digitale verden, smedende hjemmesider med omhu og præcision som ædle metalarbejdere. I en tid, hvor de fleste var optaget af at fordybe sig i skærmenes hypnotiske glød, sørgede Hjemmesidesmeden for, at der stadig var et sted for æstetik, kunstnerisk raffinement og personlig forbindelse.
                        </p>
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <img style="width: 100%;" src="https://www.simplilearn.com/ice9/free_resources_article_thumb/top_5_valuable_ethical_hacking_tools.jpg">
                    </div>
                </div>
            </div>
        </div>
        <hr>
{% include "footer.html" %}