{% include "header.html" %}
        <!-- Masthead-->
        <header class="masthead swap-color">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Velkommen til hjemmesidesmeden.dk</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Danmarks hurtigste, nemmeste og billigste sted at få lavet hjemmesiden, der passer til nétop dine behov</p>
                        <a class="btn btn-primary btn-xl" href="{{ url_for('portfolio') }}">Se vores portefølje</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Vi laver hjemmesider til alle behov!</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Skab din digitale tilstedeværelse uden besvær! Vi specialiserer os i skræddersyede løsninger til små og mellemstore hjemmesider. Med vores ekspertise og brugervenlige tilgang guider vi dig ubesværet gennem processen fra idé til en imponerende online platform.</p>
                        <a class="btn btn-light btn-xl" href="{{ url_for('prices') }}">Se vores priser!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Vi har dig i tankerne!</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Vi sørger for det hele</h3>
                            <p class="text-muted mb-0">Har du aldrig brugt din computer til andet end online shopping, så frygt ej</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Vi er med dig hele vejen</h3>
                            <p class="text-muted mb-0">Vi sørger for at din hjemmeside altid virker uden afbrydelse, så du kan bekymre dig om din forretning</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Vi er billigst</h3>
                            <p class="text-muted mb-0">Vi tror på, at alle har ret til en moderne og driftsikker hjemmeside</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Vi lytter til dine behov</h3>
                            <p class="text-muted mb-0">Vi sørger for en god og effektiv kommunikation, så hjemmesiden bliver præcis som du ønsker</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/1.jpg" title="Project Name">
                            <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/1.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/2.jpg" title="Project Name">
                            <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/2.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/3.jpg" title="Project Name">
                            <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/3.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/4.jpg" title="Project Name">
                            <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/4.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/5.jpg" title="Project Name">
                            <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/5.jpg" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="../static/assets/img/portfolio/fullsize/6.jpg" title="Project Name">
                            <img class="img-fluid" src="../static/assets/img/portfolio/thumbnails/6.jpg" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% include "footer.html" %}