{% include "header.html" %}
        <div class="container" style="margin-top: 150px; margin-bottom: 100px;">
            <div>
                <div class="row my-5">
                    <div class="col-0 col-md-2"></div>
                    <div class="col-12 col-md-8 center-text">
                        <h1>Se vores tidligere arbejde</h1>
                        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut aliquam purus sit amet luctus ve</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-0 col-md-2"></div>
                <div class="col-12 col-md-8 center-text">
                    <h3>Håndboldklub</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut aliquam purus sit amet luctus venenatis. Lacus vestibulum sed arcu non odio euismod. A diam maecenas sed enim ut sem viverra aliquet eget. Pellentesque habitant morbi tristique senectus et netus. Netus et malesuada fames ac turpis egestas</p>
                    <img class="col-2" style="margin-top: 50px; width: 100%" src="https://cdn.syd.bazo.dk/images/6f145aa0-4340-4b1f-bceb-307cf194a639/d/16-9/s/2000">
                </div>
            </div>
            <hr class="divider" style="margin: 80px auto 60px"/>
            <div class="row">
                <div class="col-0 col-md-2"></div>
                <div class="col-12 col-md-8 center-text">
                    <h3>Frisør Clara</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut aliquam purus sit amet luctus venenatis. Lacus vestibulum sed arcu non odio euismod. A diam maecenas sed enim ut sem viverra aliquet eget. Pellentesque habitant morbi tristique senectus et netus. Netus et malesuada fames ac turpis egestas</p>
                    <img class="col-2" style="margin-top: 50px; width: 100%" src="https://www.forbrugsforeningen.dk/-/media/forbrugsforeningen/nyhedsarkiv/seo-artikler/1600x900frisoer.jpg?rev=5c5df8acac5a429faf5d49e1cde91c04">
                </div>
            </div>
            <hr class="divider" style="margin: 80px auto 60px"/>
            <div class="row">
                <div class="col-0 col-md-2"></div>
                <div class="col-12 col-md-8 center-text">
                    <h3>Jensens murerfirma</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut aliquam purus sit amet luctus venenatis. Lacus vestibulum sed arcu non odio euismod. A diam maecenas sed enim ut sem viverra aliquet eget. Pellentesque habitant morbi tristique senectus et netus. Netus et malesuada fames ac turpis egestas</p>
                    <img class="col-2" style="margin-top: 50px; width: 100%" src="https://tim.dk/sites/default/files/murermester-tim-nielsen-slide-1140x713.jpg">
                </div>
            </div>
        </div>
        <hr>
{% include "footer.html" %}