

{% include "header.html" %}
        <!-- Masthead-->
        <div class="container py-3" style="margin-top: 150px; text-align: center;">
            <div class="col-lg-12 align-self-end">
              <h1 class="text-black font-weight-bold">Priser</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-12 align-self-baseline">
              <p class="text-black-75 mb-5">Velkommen til vores prisside! Vores prispakker til skræddersyet webdesign er skabt til at imødekomme forskellige behov og budgetter. Uanset om du er en start-up eller en etableret virksomhed, stræber vi efter at levere imponerende og funktionelle hjemmesider. Udforsk vores priser nedenfor og lad os sammen skabe din digitale tilstedeværelse!</p>
          </div>
        </div>
        <!-- Pricing -->
        <div class="container py-3" id="pricing">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
              <p class="fs-5 text-body-secondary"></p>
            </div>
          <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Den lille pakke</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">2.000<small class="text-body-secondary fw-light">kr</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>Op til 5 sider</li>
                      <li>Responsivt design til visning på desktop og smartphone</li>
                      <li>Brugerdefineret design</li>
                      <li>Kontaktformular</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-outline-primary">Kom i gang</button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Den store pakke</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">5.000<small class="text-body-secondary fw-light">kr</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>Op til 10 sider</li>
                      <li>Mulghed for blog eller nyhedsbrev</li>
                      <li>Udvidet kontaktformular og bookingsystem</li>
                      <li>Udvidet sikkerhed</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Kom i gang</button>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                  <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Projektpakken</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">Kontakt for tilbud</h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>Ingen begrænsning på sideantal</li>
                      <li>Skræddersyet design til virksomhedens profil</li>
                      <li>Integration med tredjeparts API'er og software efter behov</li>
                      <li>Avanceret SEO-optimering og søgeordsanalyse</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Få et tilbud</button>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
        <div class="container py-3" style="text-align: center">
          <div class="col-lg-12 align-self-baseline">
            <p>Husk, at priserne er skøn, og de faktiske priser kan variere afhængigt af faktorer som din erfaring, dit teams størrelse og kompetencer, markedet og geografisk beliggenhed. Det er også vigtigt at tydeligt kommunikere, hvad hver pakke inkluderer, og tilbyde muligheden for yderligere tilpasning efter kundens behov.</p>
          </div>
        </div>
        <hr>
{% include "footer.html" %}